<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<title> Add Component </title>
<div id = "header">
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>

 <table id='banner'>
        <tr>
        <td id='menu1'> <a href = "{{ course_create_url }}"> <p>HOME</p> </a> </td>
        <td id = 'menu2'> <a href = "{{ course_create_url }}"> <p>COURSES</p> </a> </td>
        <td id='menu3'> <a href = "{{ course_create_url }}"> <p>RESULTS </p></a> </td>
        <td id='menu4'> <a href = "{{ course_create_url }}"> <p>ENROLLMENT </p></a> </td>
        <td id='rest'></td>
        <br> 
  </table>

<h3>{{module.title}} </h3>
<form action = "{% url 'add_component_url' module.id %}" method = "POST">
{% csrf_token %}
{% for component in components%}
        <h4>Please, select the component to add to this module</h4>
        <input type = "checkbox" name = "component{{component.id}}" value = "{{component.id}}"> {{component.title}}
        <br>
                
        {% if component.image %}
                <img src="{{ component.image.url }}" alt="My image" width = 150, length = 150>
                <br>
        {%endif%}
        {% if component.body %}
                <p>{{ component.body }}</p>
                <br>
        {%endif%}
        
 
{% endfor %}
<br>
<br>
<button type = "submit">Submit</button>
</form>