<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<title> Add Component </title>
<div id = "header">
<a href = "/accounts/logout/"><h2 id="logout"> Logout</h2></a>
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>

<br>
<nav id = 'banner'>
        <a href = "{% url 'course_list_url' %}"> <p id='navP'>HOME </p> </a> 
        <a href = "{% url 'add_component_url' module.id %}">  <p id ='navP'> > Add Component </p>  </a>
</nav>


<h3>{{module.title}} </h3>
<form action = "{% url 'add_component_url' module.id %}" method = "POST">
{% csrf_token %}
{% for component in components%}
        <h4>Please, select the component to add to this module</h4>
        <input type = "checkbox" name = "component{{component.id}}" value = "{{component.id}}"> {{component.title}}
        <br>
                
        {% if component.image %}
                <img src="{{ component.image.url }}" alt="My image" width = 150, length = 150>
                <br>
        {%endif%}
        {% if component.body %}
                <p>{{ component.body }}</p>
                <br>
        {%endif%}
        
 Position:<input type="number" name="position{{ component.id }}">
{% endfor %}
<br>
<br>
<button type = "submit">Submit</button>
</form>