<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<title> Completed Courses </title>
<div id = "header">
<a href = "/accounts/logout/"><h2 id="logout"> Logout</h2></a>
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>

<h1>Completed Courses</h1>

{% for completion in completion_records %}

    <h3>{{ completion.course.title }}</h3>
    <h5>Credits Awarded: {{ completion.course.credit_units }} </h5>
    <h5>Completion Date:  {{ completion.date_completed }} </h5>
    <h4>Cumulative CECU after course was completed:  {{ completion.cumulative_credits }} </h4>
    <br>
{% endfor %}


<h2 id= "creditearned"> You have earned {{ total_credits }} credits in total</h2>
