<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<title> Completed Courses </title>
<div id = "header">
<a href = "/accounts/logout/"><h2 id="logout"> Logout</h2></a>
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>
<div id="completedcourse">
<h1>Completed Courses:</h1>

{% for completion in completion_records %}

    <h3>{{ completion.course.title }}</h3>
	<div id="infocourse">
    <h3>Credits Awarded: {{ completion.course.credit_units }} </h3>
    <h3>Completion Date:  {{ completion.date_completed }} </h3>
    <h3>Cumulative CECU after course was completed:  {{ completion.cumulative_credits }} </h3>
    
{% endfor %}


<h3 id= "creditearned"> You have earned {{ total_credits }} credits in total</h3>
</div>
</div>