<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'courses/style.css'%}">
<title> {{course.title}} </title>
<div id = "header">
<h2> Course Detail </h2>
</div>
</head>
<!--To whom it may concern, this weird notation is the syntax of Django template
It is same as templates we used for Node.js
-->

<h1>{{course.title}}</h1>
{#{course.id}#}


  {% for module in modules%}
    <div id="moduletitle"> <h3> Module {{module.position}}: {{module.title}}</h3> </div>


    {% for component in module.components%}
    
        <h4> Lesson {{component.position}} : {{component}}  </h4>
      {% if component.image %}
        <img src="{{ component.image.url }}" alt="My image" width = 150, length = 150>
      {%endif%}
      {% if component.body %} <td>
        <p>{{ component.body }}</p>
      {%endif%}
    {%endfor%}
  <!--  <a href = "{%url 'add_component_url' module.id %} ">Add Component</a> -->
  <br>
    <a href="{%url 'add_component_url' module.id %}"><button>Add Component</button></a>
    <br>
    <br>
    <br>
    <br>
    {%if module.quiz_bank %}
        <i> <span>Quiz: </span>{{module.quiz_bank.0}}</i>
        <br>
        <br>
        <br>
    {% else %}
        <a href = "{% url 'add_quiz_url' module.id %}"><button>Add quiz</button></a>
        <br>
        <br>
        <br>
    {% endif %}
{% endfor %}



<br>
<button id = "new">Add module</button>
<br>
<br>
<br>


<script>
      var newModuleButton  = document.getElementById('new');
      newModuleButton.addEventListener("click", function() {

          document.location.href = "{% url 'create_module_url' course.id %}";
      });

</script>