<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<title> Available Courses</title>
<div id = "header">
<a href = "/accounts/logout/"><h2 id="logout"> Logout</h2></a>
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>

<a href="{% url 'course_list_url' %}"><p>My courses</p></a>


<h1>Course available for enrollment:</h1>
<article id="selectcategory">

<h1>Available Courses</h1>


<h3>Select category to display courses from particular category:</h3>
<!--Would be super nice to use AJAX here, but no need anymore I guess-->
<form method="get" action="">
    <select name="category">
    <option value=""> All </option>
    {% for option in categories %}
        <option value ="{{ option }}">{{ option }}</option>
        <br>
    {% endfor %}
    </select>

<button type ="submit">Submit</button>
</form>

<!--Check if any category has been selected-->
{% if selected_category %}
    <h3>Course(s) from {{ selected_category }} category</h3>
{% else %}
    <!--<h3>Or view all courses as a list</h3>-->
{% endif %}

{% for course in courses %}
    Course Title: {{ course.title }}
    <br>
    Course Description: {{ course.description }}
    <br>
    Instructor: {{ course.instructor }}
    <br>
    Instructor info: {{ course.instructor.introduction }}
    <br>
    CECUs awarded: {{ course.credit_units }}
    <br>
    <a href="{% url 'enroll_in_course_url' course.id %}">Enroll</a>
    <br>
    <br>


{% endfor %}



</article>