<head xmlns="http://www.w3.org/1999/html">
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<title> Available Courses</title>
<div id = "header">
<a href = "/accounts/logout/"><h2 id="logout"> Logout</h2></a>
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>

<a href="{% url 'course_list_url' %}"><p>My courses</p></a>


<h1>Course available for enrollment:</h1>
<article id="selectcategory">

<h1>Available Courses</h1>


<h3>Select category to display courses from particular category:</h3>
<!--Would be super nice to use AJAX here, but no need anymore I guess-->
<form method="get" action="">
    <select name="category">
    <option value=""> All </option>
    {% for option in categories %}
        <option value ="{{ option }}">{{ option }}</option>
        <br>
    {% endfor %}
    </select>

<button type ="submit">Submit</button>
</form>
<div id="completecourse">
    <table>
    <!--Check if any category has been selected-->
    {% if selected_category %}
        <h3 id="coursetitle">List of course(s) from {{ selected_category }} category:</h3>
    {% else %}
        <!--<h3>Or view all courses as a list</h3>-->
    {% endif %}
    <br>
    {% for course in courses %}
        <tr><b>Course Title: {{ course.title }}</b></tr>
         <br>
         <tr>   Course Description: {{ course.description }}</tr>
         <br>
         <tr>   Instructor: {{ course.instructor }} </tr>
         <br>
         <tr>   Instructor info: {{ course.instructor.introduction }} </tr>
         <br>
        <tr>CECUs awarded: {{ course.credit_units }} </tr>
        <tr><a id="enrollbutton" href="{% url 'enroll_in_course_url' course.id %}">>>Enroll</a></tr>
        <br>
        <br>


    {% endfor %}
    </table>
</div>

</article>