<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<title> {{course.title}}</title>
<div id = "header">
<a href = "/accounts/logout/"><h2 id="logout"> Logout</h2></a>
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>

<br>
<nav id = 'banner'>
        <a href = "{% url 'course_list_url' %}"> <p id='navP'>HOME </p> </a> 
        <a href = "{{ course.get_absolute_url }}">  <p id ='navP'> > {{course.title}}</p>  </a> 
</nav>

<h1>{{course.title}} </h1>
<a href = "{% url 'component_upload_url' course.id %}"><button>Create Component </button></a>
<br>
{#{course.id}#}

<a href = "{% url 'manage_course_url' course.id %}"><button>Manage Course</button></a>
  {% for module in modules%}
      <div id="moduletitle"> <h3> Module {{module.position}}: {{module.title}} </h3>

<div class="dropdown">
<button class="dropbtn">Select: </button>
<div class="dropdown-content">
<a href = "{% url 'manage_module_url' module.id %}">Manage Module</a>
<a href = "{% url 'delete_module_url' module.id %}">Delete Module</a> 
<a href="{%url 'add_component_url' module.id %}">Add Component</a>
    {%if module.quiz_bank %}
    {% else %}
        <a href = "{% url 'add_quiz_url' module.id %}">Add quiz</a>
        <br>
        <br>
        <br>
    {% endif %}
</div>
</div>

    </div>
  <!--   <a href = "{% url 'manage_module_url' module.id %}"><button>Manage Module</button></a> 
     <br>
      <a href = "{% url 'delete_module_url' module.id %}"><button>Delete Module</button></a> -->
<br>
<br>
<br>
    {% for component in module.components%}
        <div id="component{{ component.id }}">
            <button onclick="deleteComponent({{ component.id }});">Delete Component</button>
            <button onclick="removeComponent({{ component.id }});">Remove from Module</button>
          {% if component.image %}
            <img src="{{ component.image.url }}" alt="My image" width = 150, length = 150>
          {%endif%}
          {% if component.body %} <td>
            <div id="componentbody" ><p>{{ component.body }}</p></div>
          {%endif%}
        </div>
    {%endfor%}
  <br>
    <!-- <a href="{%url 'add_component_url' module.id %}"><button>Add Component</button></a> -->

    {%if module.quiz_bank %}
        <div id="quiz"><i> <span>Quiz: </span>{{module.quiz_bank.0}}</i></div>
        <br>
        <br>
        <br>
    {% else %}

    {% endif %}
{% endfor %}



<br>
<div id='center'>
<a href="{% url 'create_module_url' course.id %}"> + Add module </a> </div>
<br>
<br>
<br>


<script src="{% static 'javascript/manageCourseContent.js' %}"></script>