<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<title> {{course.title}} </title>
<div id = "header">
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>

  <table id='banner'>
    <tr>
    <td> <a href = "{{ course_create_url }}"> HOME </a> </td>
    <td> <a href = "{{ course_create_url }}"> COURSES </a> </td>
    <td> <a href = "{{ course_create_url }}"> RESULTS </a> </td>
    <br> 
  </table>


<a href = "{% url 'course_list_url' %}">Course List</a>

<h1>{{course.title}}</h1>
{#{course.id}#}


  {% for module in modules%}
    <div id="moduletitle"> <h3> Module {{module.position}}: {{module.title}}</h3> </div>

<br>
<br>
<br>
    {% for component in module.components%}
      {% if component.image %}
        <img src="{{ component.image.url }}" alt="My image" width = 150, length = 150>
      {%endif%}
      {% if component.body %} <td>
        <div id="componentbody"><p>{{ component.body }}</p></div>
      {%endif%}
    {%endfor%}
  <!--  <a href = "{%url 'add_component_url' module.id %} ">Add Component</a> -->
  <br>
    <a href="{%url 'add_component_url' module.id %}"><button>Add Component</button></a>
    <br>
    <br>
    <br>
    <br>
    {%if module.quiz_bank %}
        <div id="quiz"><i> <span>Quiz: </span>{{module.quiz_bank.0}}</i></div>
        <br>
        <br>
        <br>
    {% else %}
        <a href = "{% url 'add_quiz_url' module.id %}"><button>Add quiz</button></a>
        <br>
        <br>
        <br>
    {% endif %}
{% endfor %}



<br>
<button id = "new">Add module</button>
<br>
<br>
<br>


<script>
      var newModuleButton  = document.getElementById('new');
      newModuleButton.addEventListener("click", function() {

          document.location.href = "{% url 'create_module_url' course.id %}";
      });

</script>