<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<title> Home </title>
<div id = "header">

<h2 id="hello">  Hello <span>{{ user.get_full_name }}!&emsp;&emsp;<span></h2>
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>

 <table id='banner'>
        <tr>
        <td id='menu1'> <a href = "{% url 'course_list_url' %}"> <p id='navP'>HOME</p> </a> </td>
        <td id='rest'> <a href = "/accounts/logout/"><p>Logout</p></a></td>
        <br>
  </table>

<body>
<h1>List of your courses </h1>
{% for course in courses %}
<table>
   <tr>
   <h3>{{course.title}}</h3>
   </tr>
   <tr>
 	<td id="td1">  <p>{{course.description}} </p> </td>
    <td id="td2"> <a href = "{{ course.get_absolute_url }}"> View Details > </a> </td>
   </tr>
 </table>
{% endfor %}
<br>
<br>
<a href = "{% url 'create_course_url'%}"><button>Create New Course</button></a>
<br>
</body>
