<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<title> Home </title>
<div id = "header">
<!--<h2 id="hello">  Hello <span>{{courses.0.instructor}}!&emsp;&emsp;<span></h2>-->
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>

 <table id='banner'>
        <tr>
        <td id='menu1'> <a href = "{% url 'course_list_url' %}"> <p>HOME</p> </a> </td>
        <td id='rest'> <a href = "/accounts/logout/"><p>Logout</p></a></td>
        <td id='rest'></td>
        <br> 
  </table>

<body>
<h1> My Courses </h1>	
{% for course in courses%}
<table>
	<tr>
    <h3> {{course.title}} </h3>
	</tr>
	<tr>
    <td id="td1"> <p>{{course.description}}</p></td>
    <td id="td2"> <a href = "{% url 'study_course_url' course.id %}">View Details ></a> <!-- Replace it later--> </td>
</tr>

 </table>
{%endfor%}
</body>

