<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<script src="{% static 'javascript/module_create.js' %}"></script>
<title> Manage </title>
<input id="courseId"type="hidden" value="{{ course.id }}">
<div id = "header">
<a href = "/accounts/logout/"><h2 id="logout"> Logout</h2></a>
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>

<br>
{% if manage_course %}
    <h1>Modify Course</h1>
{% else %}
    <h1>Modify Module</h1>
{% endif %}
<br>
{% load static %}
<script src ="{% static 'javascript/component_reordering.js' %}"></script>
{% if manage_course %}
    <input id="element_type" type="hidden" value="2">
{% else %}
    <input id="element_type" type="hidden" value="1">
{% endif %}
<form action="" method="post">
    {% csrf_token %}
        &nbsp;   &nbsp;Change Title: <input type="text", name="title">
    <br>
    <br>
    <br>
    {% if manage_course %}
        <h3>Drag and Drop Module names to reorder them:</h3>
    {% else %}
        <h3>Drag and Drop Component names to reorder them:</h3>
    {% endif %}
    <ul>
        {% for component in all_components %}
            <!--If you change li here, change also in component_reordering.js-->
            <li id = "{{ component.id }}" draggable="true" ondragover="dragOver(event)" ondragstart="dragStart(event)">{{ component.title }}</li>
        {% endfor %}
    </ul>
    <br>
    <br>
    <button type="submit" onclick="return savePosition();">Submit</button>
</form>
