<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<title> Create Module </title>
<div id = "header">
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>
<br>
<nav id = 'banner'>
        <a href = "{% url 'course_list_url' %}"> <p id='navP'> HOME </p> </a> 
        <a href = "{% url 'create_module_url' %}">  <p id ='navP'> > Create Module </p>  </a>
</nav>

{{courseID}}
<br>

<form action ="{% url 'create_module_url' course.id %}" method = "post">
        
        {% csrf_token %}
        {%for field in form%}
            {{field.label}}
            {{field}}
        {% endfor %}
        <br>
        {% if components %}
            <h4>Please, select components you would like to add to this module</h4>
            {%for component in components%}
                <input type = "checkbox" name = "component{{component.id}}" value = "{{component.id}}"> {{component}}
                <br>
                {% if component.image %}
                    <img src="{{ component.image.url }}" alt="My image" width = 150, length = 150>
                    <br>
                {%endif%}
                {% if component.body %}
                    <p>{{ component.body }}</p>
                    <br>
                {%endif%}
            {%endfor%}
            <br>
        {% endif %}
        {% if quiz_banks %}
            <h4>Please, select the Quiz Bank to add to this module</h4>
            {% for quiz_bank in quiz_banks %}
            <input type = "checkbox" name = "quiz_bank{{quiz_bank.id}}" value = "{{quiz_bank.id}}"> {{quiz_bank.title}}
            <br>
            {% endfor %}
        {% endif %}
        <input type = "hidden" value = "{{courseID}}">
        <br>
        <button type = "submit">Create Module</button>

</form>