<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<title> {{course.title}}</title>
<div id = "header">
<a href = "/accounts/logout/"><h2 id="logout"> Logout</h2></a>
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>

<br>
<nav id = 'banner'>
        <a href = "{% url 'course_list_url' %}"> <p id='navP'> HOME </p> </a>
        <a href = "{% url 'study_course_url' course.id %}">  <p id ='navP'> > {{course.title}} </p>  </a>
</nav>

<h1>{{course.title}}</h1>

{% for module in modules%}
	<table>
	<td id="td1">
    <h3>Module {{module.position}}: <span id="light">{{module.title}}</span></h3>
    </td>
    {% if module.available %}
     <td id="td2"> <a href = "{{ module.get_absolute_url}}">View Module ></a></td>
    {%endif%}
</table>
{%endfor%}