<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<title> {{module.title}}</title>
<div id = "header">
<h2>  Welcome to <span> I.C.E. <span></h2>
</div>
</head>
<br>
<nav id = 'banner'>
        <a href = "{% url 'student_course_list_url' %}"> <p id='navP'> HOME </p> </a> 
        <a href = "{% url 'study_module_url' module.id %}">  <p id ='navP'> > {{module.title}}</p>  </a>
</nav>

<h1><span>Module {{module.position}}:</span> {{module.title}}</h1>


{% for component in components%}
        {% if component.image %}
                <img src="{{ component.image.url }}" alt="My image" width = 150, length = 150>
        {%endif%}
        {% if component.body %}
                 <div id="componentbody"><p>{{ component.body }}</p></div>
        {%endif%}
        <br>
{%endfor%}
{% if quiz_taken %}
        <div id="quiz"><i>You have completed the "{{quiz_bank.title}}"</i></div>
{% else %}
        <div id="quiz"><a href = "{% url 'take_quiz_url' quiz_bank.id %}"><button>Take Quiz</button></a></div> <!--Send also USER ID here!-->
{%endif%}

