	
button {
	background-color: #404040;
	padding-top: 7px;
	padding-bottom:7px;
	padding-right:20px;
	padding-left: 20px;
	color:white; 
	display: block;
	margin-left: auto;
	margin-right: auto;
}


body {
	font-family: "helvetica";
	background-color: #f2f2f2;
}

span {
	font-weight: bold;

}

h1 {
	padding-left: 5px;
	padding-bottom: 10px;
	border-bottom: 2px solid black;
	font-weight: lighter;
	font-size: 25px;
}

h2{

	padding-left: 10px;
	font-weight: lighter;
	color: white;
	font-size: 20px;
}

h3 {
	padding-left: 10px;
	padding-top: 7px;
}

h4{
	padding-left: 10px;
}

h5 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0px;
}

p {
	padding-left: 5px;
	font-style: italic;
	color: #808080;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

a {
 color: black;

}

i {
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

form {
	margin-left: 10px;
}

#header {
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #262626;
	width: 100%;
}

#moduletitle {
	text-align: center;
	outline-color: white; 
	background-color: lightgray;
	border: 11px 
	double lightgray; 
	border-radius: 20px; 
	color: white;
	letter-spacing: 1px;
}

#componentbody{
	text-align: center;
	margin-left: 70px;
	margin-right: 70px;
}

#hello{
	float: right;
	font-size:15px;
	padding-top: 9px;
	padding-right: 10px;
}

#td1{
	width: 80%;
}

#td2{
	width: 20%;
}

#quiz{
	text-align: center;
}

#light {
	font-weight: lighter;
}

#createcourse {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	background-color: #f4f7f8;
	border-radius: 8px;
	border: 1px black solid;
	text-align: center;
	padding: 4px;

}
#form{

text-align: center;
}

#navP {
	display: inline;
	text-decoration: underline;
}

#logintable {
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

#logindiv{
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}

#logintd {
	border-bottom: none;
	margin-top: 0px;
}

#logout {
	float: right;
	font-size:15px;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-right: 18px;
	padding-left: 18px;
	border-left: 1px solid white;
}

#signupdiv {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

#staff_id {
	width: 255px;
}

#newpassword{
	display: inline;
}

#submitbutton {
	margin-right: 35px;
}

#successmessage {
	text-align: center;
}

#resetbutton{
	background-color: #404040;
	padding-top: 7px;
	padding-bottom:7px;
	padding-right:20px;
	padding-left: 20px;
	color:white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	display: inline;
}

#passwordtable {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}

#changebutton{
	background-color: #404040;
	padding-top: 7px;
	padding-bottom:7px;
	padding-right:20px;
	padding-left: 20px;
	color:white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	display: inline;
}

#registerdiv {
	width: 400px;
	margin-left:40%;
}

#changebuttondiv{
	text-align: center;
}

#submitButton{
	display: block;
	margin-left: auto;
	margin-right: auto;
	display: inline;
}

#nodeco {
	text-decoration: none;
}

#center{
	text-align: center;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}



