<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<title> Login </title>
<div id = "header">
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>
<br>
<br>
<br>
<br>

<h5> Log in </h5>
<div id='logindiv'>
<p> or <a href="{% url 'sign_up_url' %}">Sign up</a> </p>
</div>
<br>

{% if form.errors %}
    <p>Your username and password did not match. Please, try again</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Your account does not have access to this page. To proceed, please login with
        account that has access</p>
        {% else %}
            <p>Please login to see this page</p>
        {% endif %}
    {% endif %}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table id ='logintable'>
<tr>
  <td id ='logintd'>{{ form.username.label_tag }}</td>
  <td id ='logintd'>{{ form.username }}</td>
</tr>

<tr>
  <td id ='logintd'>{{ form.password.label_tag }}</td>
  <td id ='logintd'>{{ form.password }}</td>
</tr>
</table>


<div id='logindiv'>
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<br>
<a href="{% url 'password_reset' %}"><p>Lost password?</p></a>
</div>