<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<title> Reset Password </title>
<div id = "header">
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>
<br>
<br>

{% if validlink %}
        <h3 id="successmessage">Please enter (and confirm) your new password.</h3>
        <br>
        <form action="" method="post">
        {% csrf_token %}
            <table id="passwordtable">
                <tr>
                    <td id="logintd">{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td id="logintd">{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td id="logintd">{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td id="logintd">{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td id="logintd"></td>
                    <td id="logintd"><input id="changebutton" type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1 id="successmessage">Password reset failed</h1>
        <p id="successmessage">The password reset link was invalid,
            possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
