<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<title> Reset Password </title>
<div id = "header">
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>
<br>

<h3> Please enter your email address. </h3>

  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p id='newpassword'>{{ form.email }}</p>
   <input id='resetbutton' type="submit" class="btn btn-default btn-lg" value="Reset password">
  </form>