<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<title> Add Quiz </title>
<div id = "header">
<a href = "/accounts/logout/"><h2 id="logout"> Logout</h2></a>
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>

 <table id='banner'>
        <tr>
        <td id='menu1'> <a href = "{% url 'course_list_url' %}"> <p>HOME</p> </a> </td>
        <td id = 'menu2'> <a href = "{{ course_create_url }}"> <p> COURSES</p> </a> </td>
        <td id='menu3'> <a href = "{{ course_create_url }}"> <p> RESULTS </p></a> </td>
        <td id='menu4'> <a href = "{{ course_create_url }}"> <p> ENROLLMENT </p></a> </td>
        <td id='rest'></td>
        <br>  
  </table>

<body>
<h3>{{module.title}}</h3>

<form action = "{% url 'add_quiz_url' module.id %}" method = "POST">
    {% csrf_token %}
    {% for quiz_bank in quiz_banks %}

    <h4>Please, select the quiz bank and module for it</h4>
    {{quiz_bank}}
    <br>
    {% for field in form %}
        <br>
        {{field.lable}}
        {{field}}

        <input type = "hidden" name = "quiz_bank_id" value = "{{quiz_bank.id}}">
        {% endfor %}
    {% endfor %}

    <br>
    <br>
    <button type = "submit">Submit</button>
</form>
</body>