<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<script src="{% static 'javascript/quizbank_selector.js' %}"></script>
<title> Add Quiz </title>
<div id = "header">
<a href = "/accounts/logout/"><h2 id="logout"> Logout</h2></a>
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>

 <table id='banner'>
        <tr>
        <td id='menu1'> <a href = "{% url 'course_list_url' %}"> <p>HOME</p> </a> </td>
        <td id = 'menu2'> <a href = "{{ course_create_url }}"> <p> COURSES</p> </a> </td>
        <td id='menu3'> <a href = "{{ course_create_url }}"> <p> RESULTS </p></a> </td>
        <td id='menu4'> <a href = "{{ course_create_url }}"> <p> ENROLLMENT </p></a> </td>
        <td id='rest'></td>
        <br>  
  </table>

<body>
<h3>{{module.title}}</h3>

<h4>Please, select the quiz bank to add to this module</h4>
<form action = "{% url 'add_quiz_url' module.id %}" method = "POST">
    {% csrf_token %}
    {% for quiz_bank in quiz_banks %}

        <input class="bank" id="{{ quiz_bank.id }}" type="checkbox" value="{{ quiz_bank.id }}" name="selected_bank" onchange="bankSelect({{ quiz_bank.id }});"> {{ quiz_bank.title }}
        <br>
        <br>
    {% endfor %}

    <br>
    <br>
    <button type = "submit">Submit</button>
</form>
</body>