<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<title> Registration</title>
<div id = "header">
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>
<br>
<br>
<br>

<h3 id="successmessage">Please, enter email of instructor you would like to invite.</h3>
<div id="logindiv">
<table>
<form action="" method="post">

    {% csrf_token %}
    <tr><td id="logintd"> Email: </td> <td id="logintd"> <input name="email" type="email"> </td> </tr>
    <br>
    <tr><td id="logintd"> First name:</td> <td id="logintd">  <input name="first_name"> </td></tr>
    <br>
    <tr><td id="logintd"> Last name: </td> <td id="logintd"> <input name="last_name"> </td></tr>
    <br>
  </table>
     <br>
    <div id="submitButton"><button type="submit">Invite</button></>
</form>
</div>

