<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<title> Registration </title>
<div id = "header">
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>
<br>
<br>
<br>
<br>

<body onload="redirect();">
<h3 id="successmessage">Registration done successfully. You will be redirected to log in page soon.</h3>
</body>

<script>
function redirect() {
    window.setTimeout(function(){
        window.location.href = "{% url 'course_list_url' %}";
    }, 3000);
}
</script>