{% load static %}
<h1>Please, set desired username and password:</h1>
<form action="" method ="post" onsubmit="return checkPassword();">
    {% csrf_token %}
    {% for field in form %}
        {{ field.label }}

        {{ field }}
        <br>
    {% endfor %}
    {% if user_type == '2' %}
        Please, introduce yourself: <textarea name ="intro" rows = 10, cols = 30></textarea>
    {% endif %}
<button type = "submit">Submit</button>
</form>
<div id="error"></div>

<script src= "{% static 'javascript/check_passwords.js' %}"></script>