<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<title> Registration </title>
<div id = "header">
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>
<br>
<br>
<br>

<h3 id="successmessage">Please set desired username and password: </h3>

<table id="signupdiv">
<form  action="" method ="post" onsubmit="return checkPassword();">
	<tr>
    {% csrf_token %}
    {% for field in form %}
    <td id="logintd">    {{ field.label }} : </td>

     <td id="logintd">   {{ field }} </td>
 </tr>
        <br>
    {% endfor %}
    {% if user_type == '2' %}
        Please, introduce yourself: <textarea name ="intro" rows = 10, cols = 30></textarea>
    {% endif %}
</table>
 <br>
<button type = "submit">Submit</button>
</form>

<div id="error"></div>

<script src= "{% static 'javascript/check_passwords.js' %}"></script>