<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<title> Add Component </title>
<div id = "header">
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>
<br>

Dear {{ name }} you are invited to register in our system  Follow the link below:
{% if user_type == 'instructor' %}
    {{ protocol}}://{{ domain }}{% url 'user_registration_url' email 2 %}
{% else %}
    {{ protocol}}://{{ domain }}{% url 'user_registration_url' email 1 %}
{% endif %}