<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<title> Invitation Confirmed </title>
<div id = "header">
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div id="successmessage">
{% if user.is_superuser %}
    <h3>Email was sent to the Instructor</h3>
{% else %}
    <h3>We have sent you an email with link to complete your registration</h3>
{% endif %}
</div>
<a href="/admin"><button>Return to Admin panel</button></a>
<br>
<a href={% url 'sign_up_url' %}><button>Invite Another Instructor</button></a>
