<head>
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<title> Registration </title>
<div id = "header">
<h2>  Welcome to <span> I.C.E. </span></h2>
</div>
</head>

<h3>Please, provide your Staff ID.</h3>

<form action = "{% url 'sign_up_url' %}", method="post" onsubmit= "return validateMyForm();">
	<div>
    {% csrf_token %}
    <input id = 'staff_id' name ="id">
    <br>
    <br></div>
    <button id='submitButton' type ="submit">Submit</button>
</form>
<div id = 'message'>
</div> 

<script src = "{% static 'javascript/verify_staff_id.js' %}"></script>


